{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/about.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="about-content">
    <h2>
        A bit about me...
    </h2>
    <img class="portrait" src="/static/portrait.png">
    <p>Hi, I'm Yuxuan Xie, graduated from Columbia University with M.S. degree, now working as a software engineer at Google.</p>
    <p>I'm interested in Cloud Computing, Artificial Intelligence, video game development and video editing. My progress is recorded on this site.</p>
    <p>I’ve been developing a video website featuring danmaku which are the comments that flying across the screen while watching videos. The site is called Danmage (www.danmage.com). It’s based on Google App Engine and YouTube as video source.</p>
    <p>An action game, Youmu Blade Dance, is also under developing. However, since I’m not a professional game developer, it will cost a lot time to finish it. But I believe I shall publish it in the future.</p>
    <p>The biggest ambition is to invent a robot that can act like animal. I’m currently researching on neural networks and Q-learning. I believe those theories are the right track to the real intelligence.</p>
</div>
{% endblock %}