{% extends "template/about.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block side_about_active %}{% endblock %}
{% block side_contact_active %}active{% endblock %}

{% block main_body %}
<h2>
    Contact me
</h2>
<form method="POST" action="send_email">
    <div class="input-line">
        <label>Name </label>
        <input type="text" name="name" placeholder="Can you tell me your name?" required>
    </div>
    <div class="input-line">
        <label>Email </label>
        <input type="text" name="email" placeholder="What's your email?" required>
    </div>
    <div class="input-line">
        <label>Subject </label>
        <input type="text" name="subject" placeholder="What do you want to say to me?" required>
    </div>
    <div class="input-line">
        <label>Message </label>
        <textarea name="content" placeholder="I'm listening." required></textarea>
    </div>
    <div class="input-line">
        <input type="submit" class="button special" value="Send">
    </div>
</form>
{% endblock %}