<!DOCTYPE html>
<html>
    <head>
        <title>Sword Master!</title>
        <link href="/static/edit.css" rel="stylesheet" type="text/css">
        <script src="/static/jquery.min.js" language="JavaScript" type="text/javascript" ></script>
        <script src="//cdn.ckeditor.com/4.5.9/full/ckeditor.js"></script>
        <script src="/static/edit.js" language="JavaScript" type="text/javascript" ></script>
    </head>
    <body>
        <form id="content-form" action="{{ uri_for('content_edit') }}" method="POST">
            <input type="text" name="title" id="title" value="{{ title }}">
            <input type="date" name="date" id="date" value="{{ date }}">
            <textarea name="content" id="editor"></textarea>
            <select name="category">
                <option disabled selected> -- select a category -- </option>
                {% for cat in Categories %}
                <option value="{{ cat }}" {% if cat == category %}selected="selected"{% endif %}>{{ cat }}</option>
                {% endfor %}
            </select>
            <div id="add-more-line">
                <div id="add-more">Add more</div>
            </div>
            <input type="submit" value="submit" id="submit-button">
            {% if id %}
            <input type="text" name="id" value="{{ id }}" hidden>
            {% endif %}
        </form>
        <div id="original-content" hidden>
            {{ content }}
        </div>
        <div id="ajax-message-box">
        </div>
    </body>
</html>