{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/experiences.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block experiences_active %}active{% endblock %}

{% block side_bar %}
<div class="side-collapse">{% if cur_category %}{{ Categories_map[cur_category] }}{% else %}Overview{% endif %}</div>
<div class="side-container">
    <a href="{{ uri_for('experiences') }}" class="side {% if not cur_category %}active{% endif %}">Overview</a>
    {% for cat in Categories %}
    <a href="{{ uri_for('experience', category=cat) }}" class="side {% if cat == cur_category %}active{% endif %}">{{ Categories_map[cat] }}</a>
    {% endfor %}
</div>
{% endblock %}

{% block main_body %}
<h2 class="page-title">Journey</h2>
{% for cat in Categories %}
<div class="exp-overview-part">
    <a class="exp-title-line" href="{{ uri_for('experience', category='dantube') }}">
        <div class="exp-title-head {{ cat }}"></div>
        <div class="exp-title">{{ Categories_map[cat] }}</div>
        <div class="exp-title-bar"></div>
    </a>
    <div class="exp-overview-list">
        {% for article in articles[cat] %}
        <a class="exp-overview-list-entry" href="{{ uri_for('record', category=cat, record_index=article.index) }}">
            <div class="exp-overview-list-entry container">
                <span class="exp-overview-title">{{ article.title }}</span>
                <span class="exp-overview-date">{{ article.date }}</span>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}