{% extends "template/experiences.html" %}
{% block head %}
{{ super() }}
<script src="/static/experience.js" language="JavaScript" type="text/javascript"></script>
{% endblock %}

{% block main_body %}
<h2 class="page-title">Journey</h2>
<input type="hidden" id="cursor" value="{{ cursor }}">
{% for article in articles %}
<div class="preview-article">
    <div class="time-circle"></div>
    <div class="time-line"></div>
    <div class="preview-title-line">
        <div class="preview-date">{{ article.date }}</div>
        <a class="preview-title black-link" href="{{ uri_for('record', category=cur_category, record_index=article.index) }}">{{ article.title }}</a>
    </div>
    {% if article.image %}
    <div class="preview-image"><img class="preview-image" src="{{ article.image }}"></div>
    {% endif %}
    <div class="preview-content">{{ article.content }}</div>
    <a class="read-more blue-link" href="{{ uri_for('record', category=cur_category, record_index=article.index) }}">Read more >></a>
</div>
{% endfor %}
{% endblock %}