{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/projects.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block projects_active %}
active
{% endblock %}

{% block side_bar %}
<a href="{{ uri_for('about') }}" class="side {% block side_about_active %}active{% endblock %}">Overview</a>
<a href="{{ uri_for('contact') }}" class="side {% block side_contact_active %}{% endblock %}">DanTube</a>
<a href="{{ uri_for('hire_me') }}" class="side {% block side_hire_active %}{% endblock %}">Youmu blade dance</a>
{% endblock %}

{% block main_body %}

{% endblock %}