{% extends "template/base.html" %}
{% block head %}
{{ super() }}
<link href="/static/projects.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block projects_active %}
active
{% endblock %}

{% block side_bar %}
<a href="{{ uri_for('projects') }}" class="side {% block side_overview_active %}active{% endblock %}">Overview</a>
<a href="{{ uri_for('dantube') }}" class="side {% block side_dantube_active %}{% endblock %}">DanTube</a>
<a href="{{ uri_for('action_game') }}" class="side {% block side_action_game_active %}{% endblock %}">Youmu Blade Dance</a>
{% endblock %}

{% block main_body %}

{% endblock %}