{% extends "template/experiences.html" %}
{% block head %}
{{ super() }}
<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
    $('div.fb-comments').attr('data-width', $('#main-body').width());
    $('p iframe').width(Math.min($('#main-body').width(), 720));
    $('p iframe').height(Math.min($('#main-body').width()/16*9, 405));
    window.onresize = function() {
        $('div.fb-comments iframe').width($('#main-body').width());
        $('p iframe').width(Math.min($('#main-body').width(), 720));
        $('p iframe').height(Math.min($('#main-body').width()/16*9, 405));
    }
});
</script>
<style type="text/css">
@media screen and (max-width: 550px) {
    #side-bar {
        display: none;
    }
}
</style>
{% endblock %}

{% block main_body %}
<div class="record-title-line container">
    <div class="record-title">{{ article.title }}</div>
    <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-share="true"></div>
    <div class="record-date">{{ article.date }}</div>
</div>
<div class="record-content">{{ article.content }}</div>
<div class="record-change-line container">
    {% if previous %}
    <a class="black-link record-previous" href="{{ uri_for('record', category=cur_category, record_index=previous.index) }}">{{ previous.title }}</a>
    {% endif %}
    {% if next %}
    <a class="black-link record-next" href="{{ uri_for('record', category=cur_category, record_index=next.index) }}">{{ next.title }}</a>
    {% endif %}
    <a class="black-link record-back" href="{{ uri_for('experience', category=cur_category) }}">Back</a>
</div>
<div class="fb-comments" data-href="" data-numposts="10" data-colorscheme="light" data-order-by="reverse_time"></div>
{% endblock %}