#side-bar {
    display: inline-block;
    margin-left: 22px;
    margin-right: 50px;
    margin-top: 30px;
    width: 150px;
    float: left;
    text-align: center;
}

#main-body {
    display: inline-block;
    width: 720px;
    float: left;
    margin-right: 50px;
}

a.side {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(20,20,20);
}

a.side:hover {
    border-bottom: 4px solid rgb(80,80,80);
    padding-bottom: 17px;
}

a.side.active {
    border-bottom: 4px solid rgb(80,200,80);
    padding-bottom: 17px;
    color: rgb(100,200,100);
}