#main-body {
    display: inline-block;
    width: 750px;
    float: left;
}

h2 {
    color: rgb(100,100,100);
    margin: 20px 0;
}

p {
    color: rgb(100,100,100);
}

input, textarea {
    padding: 5px;
    font-size: 14px;
    border: 1px solid rgb(200,200,200);
    box-shadow: inset 0px 1px 3px rgb(220,220,220);
    width: 400px;
}

input:focus, textarea:focus {
    border: 1px solid rgb(81,203,238);
}

textarea.error, input.error {
    border: 1px solid rgb(232,0,0);
}

textarea {
    vertical-align: top;
    height: 100px;
    resize: vertical;
}

div.input-line {
    margin: 30px 0;
}

label {
    width: 80px;
    display: inline-block;
    color: rgb(100,100,100);
}

input.button {
    margin-left: 430px;
    font-size: 14px;
}
