body {
    margin: 0;
    padding: 0;
    /*background-color: rgb(245,245,245);*/
    font-size: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

textarea, input, select, option {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

a.blue-link {
    color: rgb(0,140,255);
}

a.blue-link:hover {
    color: rgb(255,177,108);
}

a.blue-link:active {
    color: rgb(0,50,200);
}

.container:after {
    clear: both;
    display: table;
    content: "";
}

.top-bar.container {
    background-image: url('/static/chess_header.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.logo {
    margin: 40px 0;
    margin-left: 13%;
    display: inline-block;
    vertical-align: middle;
}

.banner {
    display: inline-block;
    margin-left: 35%;
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
    word-spacing: 4px;
    vertical-align: middle;
    color: white;
}

.navi {
    padding-left: 13%;
    background-color: white;
    font-size: 0;
    box-shadow: 0 2px 4px rgb(200,200,200);
}

.navi-entry {
    display: inline-block;
    margin: 14px 40px 10px 0;
    font-size: 14px;
    color: rgb(70,70,70);
    font-family: Verdana, Geneva, sans-serif;
}

.navi-entry.active {
    font-weight: bold;
}

.navi-entry:hover:not(.active) {
    color: rgb(81,203,238);
}

.social-buttons-box {
    margin-top: 60px;
    margin-bottom: 40px;
    white-space: nowrap;
    text-align: center;
}

.social-button {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    background-image: url("/static/basic_icons.png");
}

.social-button:first-child {
    margin-left: 0;
}

.social-button.facebook {
    background-position: 0 0;
}

.social-button.twitter {
    background-position: 0 -105px;
}

.social-button.google {
    background-position: 0 -35px;
}

.social-button.linkedin {
    background-position: 0 -70px;
}

.follow-me {
    font-size: 14px;
    color: rgb(150,150,150);
    padding-bottom: 10px;
    display: inline-block;
}

.button {
    border: 1px solid rgb(200,200,200);
    padding: 7px;
    font-size: 14px;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(100,100,100);
    background-color: white;
    box-shadow: 0 0 0;
}

.button:hover {
    border: 1px solid rgb(81,203,238);
    color: rgb(81,203,238);
}

.button:active {
    background-color: rgb(81,203,238);
    color: rgb(255,255,255);
}

.button.special {
    color: white;
    background-color: rgb(0,140,255);
    border-color: rgb(0,140,255);
    font-weight: bold;
}

.button.special:hover {
    background-color: rgb(81,203,238);
    border-color: rgb(81,203,238);
}

.button.special:active {
    box-shadow: inset 0 10px 10px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1100px) {
.logo {
    margin-left: 7%;
}

.navi {
    padding-left: 7%;
}

}

@media screen and (max-width: 700px) {
.top-bar {
    text-align: center;
}

.logo {
    display: inline-block;
    margin: 30px 0;
}

.banner {
    display: block;
    margin: 0;
    margin-bottom: 20px;
}

.navi-bar {
    display: inline-block;
    padding: 5px 0 5px 13px;
    width: 100px;
    position: relative;
    border: 1px solid rgb(200,200,200);
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: rgb(100,100,100);
    margin-left: 3%;
    margin-top: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.navi-bar.show {
    border: 1px solid rgb(81,203,238);
    color: rgb(81,203,238);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navi-bar:after {
    content: "";
    border-top: 3px solid rgb(0,0,0);
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    top: 14px;
    right: 10px;
}

.navi-bar.show:after {
    border-top: 3px solid rgb(81,203,238);
}

.navi {
    display: none;
}

.navi.show {
    display: inline-block;
    position: absolute;
    padding-left: 0;
    width: 100px;
    left: -1px;
    top: 30px;
    background-color: white;
    z-index: 2;
    box-sizing: border-box;
    border: 1px solid rgb(81,203,238);
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navi-entry {
    display: block;
    padding: 10px 0 10px 13px;
    margin: 0;
}

.navi-entry.active {
    display: none;
}

}
