body {
    margin: 0;
    padding: 0;
    background-color: rgb(245,245,245);
    font-size: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

textarea, input, select, option {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

a.blue-link {
    color: rgb(0,140,255);
}

a.blue-link:hover {
    color: rgb(255,177,108);
}

a.blue-link:active {
    color: rgb(0,50,200);
}

.container:after {
    clear: both;
    display: table;
    content: "";
}

.top-bar.container {
    background-image: url('/static/logo.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.logo {
    margin: 40px 0;
    margin-left: 13%;
    display: inline-block;
    vertical-align: middle;
}

.banner {
    display: inline-block;
    margin-left: 35%;
    font-size: 20px;
    font-family: Impact, Charcoal, sans-serif;
    word-spacing: 4px;
    vertical-align: middle;
    color: white;
}

.navi {
    padding-left: 13%;
    background-color: white;
    font-size: 0;
}

.navi-entry {
    display: inline-block;
    margin: 14px 40px 10px 0;
    font-size: 14px;
    color: rgb(70,70,70);
    font-family: Verdana, Geneva, sans-serif;
}

.navi-entry.active {
    font-weight: bold;
}

.social-buttons-box {
    margin-top: 60px;
    margin-bottom: 40px;
    white-space: nowrap;
    text-align: center;
}

.social-button {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 10px;
    background-image: url("/static/basic_icons.png");
}

.social-button:first-child {
    margin-left: 0;
}

.social-button.facebook {
    background-position: 0 0;
}

.social-button.twitter {
    background-position: 0 -105px;
}

.social-button.google {
    background-position: 0 -35px;
}

.social-button.linkedin {
    background-position: 0 -70px;
}

.follow-me {
    font-size: 14px;
    color: rgb(150,150,150);
    padding-bottom: 10px;
    display: inline-block;
}
