#side-bar {
    display: none;
}

#main-body {
    font-size: 0;
    margin-top: 20px;
}

#banner-img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#banner-img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 1px rgb(100,100,100);
}

@-webkit-keyframes left_to_right_show {
    0% {opacity: 0;
        -ms-transform: translateX(-100px); /* IE 9 */
        -webkit-transform: translateX(-100px); /* Chrome, Safari, Opera */
        transform: translateX(-100px); }
    25% {opacity: 0;
        -ms-transform: translateX(-100px); /* IE 9 */
        -webkit-transform: translateX(-100px); /* Chrome, Safari, Opera */
        transform: translateX(-100px); }
    100% {opacity: 1;
        -ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
        transform: translateX(0); }
}

/* Standard syntax */
@keyframes left_to_right_show {
    0% {opacity: 0;
        -ms-transform: translateX(-100px); /* IE 9 */
        -webkit-transform: translateX(-100px); /* Chrome, Safari, Opera */
        transform: translateX(-100px); }
    25% {opacity: 0;
        -ms-transform: translateX(-100px); /* IE 9 */
        -webkit-transform: translateX(-100px); /* Chrome, Safari, Opera */
        transform: translateX(-100px); }
    100% {opacity: 1;
        -ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
        transform: translateX(0); }
}

@-webkit-keyframes right_to_left_show {
    0% {opacity: 0;
        -ms-transform: translateX(100px); /* IE 9 */
        -webkit-transform: translateX(100px); /* Chrome, Safari, Opera */
        transform: translateX(100px); }
    66% {opacity: 0;
        -ms-transform: translateX(100px); /* IE 9 */
        -webkit-transform: translateX(100px); /* Chrome, Safari, Opera */
        transform: translateX(100px); }
    100% {opacity: 1;
        -ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
        transform: translateX(0); }
}

/* Standard syntax */
@keyframes right_to_left_show {
    0% {opacity: 0;
        -ms-transform: translateX(100px); /* IE 9 */
        -webkit-transform: translateX(100px); /* Chrome, Safari, Opera */
        transform: translateX(100px); }
    66% {opacity: 0;
        -ms-transform: translateX(100px); /* IE 9 */
        -webkit-transform: translateX(100px); /* Chrome, Safari, Opera */
        transform: translateX(100px); }
    100% {opacity: 1;
        -ms-transform: translateX(0); /* IE 9 */
        -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
        transform: translateX(0); }
}

#left-banner {
    display: inline-block;
    top: 50px;
    left: 0;
    padding: 4px 10px 4px 30px;
    font-size: 18px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation: left_to_right_show 1s; /* Chrome, Safari, Opera */
    animation: left_to_right_show 1s;
    position: absolute;
}

#right-banner {
    position: absolute;
    bottom: 50px;
    right: 0;
    display: inline-block;
    padding: 4px 30px 4px 10px;
    font-size: 18px;
    color: white;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation: right_to_left_show 1.5s; /* Chrome, Safari, Opera */
    animation: right_to_left_show 1.5s;
}

@media screen and (max-width: 800px) {
    #banner-img {
        width: 800px;
        margin-left: calc(50% - 400px);
        margin-left: -moz-calc(50% - 400px); /* Firefox */
        margin-left: -webkit-calc(50% - 400px); /* Chrome, Safari */
    }
}

@media screen and (max-width: 550px) {
    #left-banner {
        padding-left: 10px;
    }

    #right-banner {
        padding-right: 10px;
        right: auto;
        left: 0;
        -webkit-animation: left_to_right_show 1.5s; /* Chrome, Safari, Opera */
        animation: left_to_right_show 1.5s;
    }
}
