#side-bar {
    display: none;
}

#main-body {
    font-size: initial;
}

h3 {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgb(255,113,103);
}

p {
    color: rgb(100,100,100);
}

div.paragraph-img img {
    max-width: 400px;
    height: auto;
    display: block;
    margin-top: 20px;
}

div.paragraph-text {
    margin-top: 10px;
    text-align: center;
    color: rgb(150,150,150);
}

div.paragraph:nth-child(odd) div.paragraph-img {
    float: left;
    margin-right: 10px;
}

div.paragraph:nth-child(even) div.paragraph-img {
    float: right;
    margin-left: 10px;
}

@media screen and (max-width: 550px) {
    div.paragraph:nth-child(n) div.paragraph-img {
        float: none;
        margin: 0;
    }

    div.paragraph-img img {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #idea-paragraph-img {
        float: left;
        margin-right: 10px;
        width: 35%;
    }

    #idea-img {
        max-width: 100%;
    }
}